body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.blue_btn {
	display: block;
    position: fixed;
    right: .76923077em;
    bottom: .76923077em;
    color: #fff;
    background-color: #347be6;
    line-height: 1;
    font-size: 1.07692308em;
    padding: .61538462em 1.23076923em;
    z-index: 10000;
    border-radius: .30769231em;
    box-shadow: 0 0 0.61538462em rgba(0,0,0,.4);
}